@page "/inventoryreport"

@rendermode InteractiveServer

@inject IJSRuntime JSRuntime

@inject ISearchInventoryTransactionsUseCase SearchInventoryTransactionsUseCase

<!--We added a printarea block in app.css to force it to ignore the side bar and top bar when printing.-->
<div id="printarea">
    <h3>Inventory Transactions</h3>
    <br />

    <div class="row">
        <div class="col">
            <label for="inventoryName">Inventory Name</label>
            <input type="text" id="inventoryName" class="form-control" @bind-value="_inventoryName" />
        </div>
        <div class="col">
            <label for="dateFrom">Date From</label>
            <input type="date" id="dateFrom" class="form-control" @bind-value="_dateFrom"/>
        </div>
        <div class="col">
            <label for="dateTo">Date To</label>
            <input type="date" id="dateTo" class="form-control" @bind-value="_dateTo" />
        </div>
        <div class="col">
            <label for="activityType">Transaction Type</label>
            <select id="activityType" class="form-control" @bind="_transactionTypeID">
                <option value="0"></option>
                <option value="1">Purchase Inventory</option>
                <option value="2">Produce Product</option>
            </select>
        </div>
        <div class="col">
            <label>&nbsp;</label>
            <button type="button" class="btn btn-primary form-control" @onclick="SearchInventoryTransactions">Search</button>
        </div>
        <div class="col">
            <label>&nbsp;</label>
            <button type="button" class="btn btn-primary form-control" @onclick="Print">Print</button>
        </div>
    </div>

    <!--This originally used _inventoryTransactions.Count() > 0 for the second condition.
    However, Visual Studio suggested using the Any() method instead, since it is faster by not iterating the entire collection.
    It also makes our intent here clearer. We don't care how many items are in the collection, just that there is at least 1.
-->
    @if (_inventoryTransactions != null && _inventoryTransactions.Any())
    {
        <table class="table">
            <thead>
            <tr>
                <th>Date</th>
                <th>Inventory</th>
                <th>Transaction Type</th>
                <th>Quantity Before</th>
                <th>Quantity After</th>
                <th>Unit Price</th>
                <th>Purchase Order #</th>
                <th>Production #</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var inventoryTransaction in _inventoryTransactions)
            {
                <tr>
                    <td>@inventoryTransaction.TransactionDate.ToString("MM/dd/yyyy")</td>
                    <td>@inventoryTransaction.Inventory.InventoryName</td>
                    <td>
                        @if (inventoryTransaction.ActivityType == InventoryTransactionTypes.PurchaseInventory)
                        {
                            <text>Purchase</text>
                        }
                        else if (inventoryTransaction.ActivityType == InventoryTransactionTypes.ProduceProduct)
                        {
                            <text>Produce</text>
                        }
                    </td>
                    <td>@inventoryTransaction.QuantityBefore</td>
                    <td>@inventoryTransaction.QuantityAfter</td>
                    <td>@inventoryTransaction.UnitPrice?.ToString("c")</td>
                    <td>@inventoryTransaction.PurchaseOrderNumber</td>
                    <td>@inventoryTransaction.ProductionNumber</td>
                </tr>
            }
            </tbody>
        </table>
    }
</div>

@code 
{
    private string _inventoryName;
    private DateTime? _dateFrom;
    private DateTime? _dateTo;
    private int? _transactionTypeID;

    private IEnumerable<InventoryTransaction>? _inventoryTransactions;


    private async Task SearchInventoryTransactions()
    {
        InventoryTransactionTypes? transactionType = null;
        if (_transactionTypeID.HasValue && _transactionTypeID != 0) transactionType = (InventoryTransactionTypes) _transactionTypeID;

        _inventoryTransactions = await SearchInventoryTransactionsUseCase.ExecuteAsync
        (
            _inventoryName, 
            _dateFrom, 
            _dateTo, 
            transactionType
        );
    }

    private async Task Print()
    {
        // Use Javascript interop to call the Window.Print() method to print this inventory transactions report page.
        // NOTE: We added a printarea block in app.css to force it to ignore the side bar and top bar when printing.
        await JSRuntime.InvokeVoidAsync("print");
    }
}
